@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


::-webkit-scrollbar{
    width: 5px;
    background:#F2F0F9
  }
  ::-webkit-scrollbar-thumb{

    background:#6E6893; 
  }
  
  ::-webkit-scrollbar:horizontal{
    height: 5px;
    background:#F2F0F9
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background:#6E6893; 
  }
  /* Track */
  ::-webkit-scrollbar-track{
    border-radius: 10px;
  }

a{
  text-decoration: none !important;
  outline: none !important;
  color:#6E6893;
}

a:active:link:focus{
  text-decoration: none;
  color:currentColor
}